.intro_port{
	background: url("../img/bg-portfolio.jpg") no-repeat center;
	width: 100%;
	height: 160px;
	padding: 120px 160px 160px 160px;
	text-align: center;
}

.intro_port hr{
  width: 60px;
  height: 2px;
  background-color: #fff;
  margin: 15px auto;
}

.intro_port h1{
	font-size: 36px;
	color: #fff;
	text-transform: uppercase;
	font-weight: bold;
}

.intro_port p{
	color: #fff;
	font-size: 14px;
	padding-bottom: 0px;
}

